<tr>
    <td>
        <table style="border-collapse: collapse;" width="600" align="center" border="0" cellpadding="0" cellspacing="0">
            <tbody>
                <tr>
                    <td style="width: 300px;">
                        <a href="{0}">
                            <img src="{1}" style="width: 290px; height: 288px; border: none;"></a>
                        <a name="product-name" href="{0}" style="font-size: 18px; color: #000; text-decoration: none; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 290px;">{6}</a>
                        <span name="product-description" style="color: #848484; font-weight: bold; font-size: 13px; text-decoration: line-through;">{3}</span>
                        <span name="product-description" style="color: #ff686e; font-weight: bold; font-size: 15px;">{4}</span>
                        <a href="{5}" name="product-description" style="color: #00bacb; font-weight: bold; font-size: 15px; float: right; margin-right: 10px; text-decoration: none;">{6}</a>
                    </td>
                    <td style="width: 300px; padding-left: 26px;">
                        <a href="{7}">
                            <img src="{8}" style="border: none; width: 290px; height: 288px;"></a>
                        <a name="product-name" href="{7}" style="font-size: 18px; color: #000; text-decoration: none; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 290px;">{9}</a>
                        <span name="product-description" style="color: #848484; font-weight: bold; font-size: 13px; text-decoration: line-through;">{10}</span>
                        <span name="product-description" style="color: #ff686e; font-weight: bold; font-size: 15px;">{11}</span>
                        <a href="{12}" name="product-description" style="color: #00bacb; font-weight: bold; font-size: 15px; float: right; margin-right: 10px; text-decoration: none;">{13}</a>
                    </td>
                </tr>
                <tr>
                    <td height="10"></td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>